<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>javaweb0616</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 초기화 파라미터 설정 -->
  <context-param>
  	<description>MySQL의 URL</description>
  	<param-name>url</param-name>
  	<param-value>jdbc:mysql://192.168.0.200:3306/sample?useUnicode=true</param-value>
  </context-param>

 <!-- 3분동안 세션을 사용하지 않으면 세션이 자동으로 초기화 -->
 <session-config>
  <session-timeout>3</session-timeout>
 </session-config>
<!--404에러가 발생한경우 보여질 페이지를 설정 web.xml 파일에서 /로 시작하며 WebContent에서부터의 경로-->
<error-page>
<error-code>404</error-code>
<location>/error/error404.jsp</location>
</error-page>
</web-app>




